.pagenav{
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  font-size: 3rem;
}

.pagenav__btn {
  font-size: 1rem;
}

.pagenav__btn-current {
  color: coral;
}