.footer {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin-top: 1.75rem;
  padding-bottom: 1.0rem;
  padding-top: 0.75rem;
  text-align:center;
  background-color: whitesmoke;
}